@charset "UTF-8";

/* header */
.navBar{
	position: fixed;	
	width: 100%;
	
	z-index: 3000;
	
	text-align: center;
	padding-bottom: 12px;
	padding-top: 20px;
}
.menuBar{
	margin: 10px auto;
}
.marginDiv{
	height:50px;
	margin-bottom: 100px;
}
.logoImg{
	width:60px;
}